<main>
  <%= form_tag '/login', class: "login" do %>
    <h2>Login</h2>
    <div class="form-group">
      <%= text_field(:user, :name, placeholder: "username") %>
      <%= submit_tag "Login", class: "btn" %>
    </div>
<% end %>
</main>
